.gold{
    color: #FFBF00;
}

.datepicker{
    z-index: 1100 !important;
}
.padd-top-20{
    padding-top: 20px;
}
.hostel {
    border: 1px solid #dddddd;
}

.info-title{
    font-size: 20px;
}
.hostel-rating {
    font-size: 20px;
    padding: 16px 0;
}

.hostel-title {
    font-size: 48px;
    padding: 0 15px;
}

.hostel-desc {
    font-size: 14px;
}

.hostel-price {
    font-size: 22px;
}


.hostel-info {
    margin-top: 50px;
}

.content-wrapper {
    background: #fff;
    margin: 10px;
}


.view-wrapper {
    float: right;
    max-width: 70%;
    margin-top: 25px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
}

.service1-items {
    padding: 0px 0 0px 0;
    float: left;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    width: 130px;
}

.service1-item {
    display: block;
    float: left;
    position: relative;
    padding-right: 1px;
    border-right: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.service1-item > img {
    opacity: 0.6;
    transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
    cursor: pointer;
    opacity: 1;
}

.service-image-left {

}

.service-image-right {
    padding-left: 50px;
}
